In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("Titanic-Dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df["Age"] = df["Age"].fillna(df.groupby(["Pclass","Sex"])["Age"].transform('median'))

In [ ]:
df["Embarked"] = df["Embarked"].fillna(df["Embarked"].mode()[0])

In [ ]:
df.drop(columns=["Cabin"],inplace=True)

In [ ]:
df["FamilySize"] = df["SibSp"] + df["Parch"]

In [ ]:
df["IsAlone"] = df["FamilySize"].apply(lambda x:1 if x==0 else 0)

In [ ]:
df["Age"] = df["Age"].astype(int)

In [ ]:
survived = df[df["Survived"] == 1]
survived= survived["Survived"].value_counts()
survived

In [ ]:
df.to_csv("titanic_cleaned.csv",sep= ',',index= False)